{% extends 'base.html' %}
{% load netauth_tags %}

{% block content %}
    <form action="{% url netauth-begin 'openid' %}?next={{ request.GET.next }}" method="post" id="openid_login">
        Openid URL
        <input type="text" name="openid_url" />
        <p><input type="submit" value="Continue"/></p>
    </form>

    <a href="{% url netauth-begin 'google' %}?openid_url=https://www.google.com/accounts/o8/id&next={{ request.GET.next }}">Google</a>

    {# twitter #}
    {% if ''|option:"TWITTER_CONSUMER_KEY" %}
        <a href="{% url netauth-begin 'twitter' %}?next={{ request.GET.next }}">Twitter</a>
    {% endif %}

    {# facebook #}
    {% if ''|option:"FACEBOOK_APPLICATION_ID" %}
        <a href="{% url netauth-begin 'facebook' %}?next={{ request.GET.next }}">Facebook</a>
    {% endif %}

    {# vkontakte widget #}
    {% if ''|option:"VKONTAKTE_APPLICATION_ID" %}{% vk_widget %}{% endif %}

{% endblock %}
