<div id="vk_api_transport" style="position: absolute; top: -10000px;"></div>
<script type="text/javascript">
    window.vkAsyncInit = function() { VK.init({ apiId: '{{ VKONTAKTE_APPLICATION_ID }}' }); };
    function vk_login () { VK.Auth.login(function( response ){
        if ( response.session ) document.location.href = "{% url netauth-complete 'vkontakte' %}";
        else document.location.href = "{% url netauth-login %}"
    });}
    setTimeout(function() {
        var el = document.createElement("script");
        el.type = "text/javascript";
        el.src = "http://vkontakte.ru/js/api/openapi.js";
        el.async = true;
        document.getElementById("vk_api_transport").appendChild(el);
    }, 0);
</script>
