<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Working...</title>
    </head>
    <body>
        <script language="javascript" type="text/javascript">
            var args = document.location.href.split('#')[1]
            document.location.href = "{% url netauth-complete 'yandex' %}?" + args;
        </script>
    </body>
</html>
